{{#section 'head'}}
<title>401: Authentication required</title>
{{/section}}

<h1>Authentication needed</h1>

<p>To access this page, you need to be authenicated using a predetermined token.</p>
<p>
  If you are the owner of this site, you can generate a token by visiting <a href="/actions/generate-token">this page</a>, entering your master
  password, and pressing "Generate".
</p>
