{{#section 'head'}}
<title>401: Invalid credentials</title>
{{/section}}

<h1>Invalid credentials</h1>

<p>The token provided with your request is invalid.</p>
<p>
  If you are the owner of this site, you can generate a new token by visiting <a>this page</a>, entering your master password, and pressing
  "Generate".
</p>
