{{#section 'head'}}
<title>401: Invalid credentials</title>
{{/section}}

<h1>Invalid credentials</h1>

<p>The master password provided with your request is invalid.</p>
<p>If you are the owner of this site, you can reset your master password by editing your <code>env.jsonc</code> file.</p>
