{{#section 'head'}}
<title>400: Bad request</title>
{{/section}}

<h1>No file provided for upload</h1>

<p>No file was sent for upload.</p>
<p>
  If you're using uploader software, like <a href="https://getsharex.com/" rel="noopener noreferrer">ShareX</a>, make sure that the encoding type
  is set to <code>multipart/form-data</code>, and the file field name is <code>file</code>.
</p>
