{{#section 'head'}}
<title>401: Authentication required</title>
{{/section}}

<h1>Authentication needed</h1>

<p>To access this page, you need to be authenticated using your master password, defined in the <code>env.jsonc</code> file.</p>
